body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: gray;
    color: black;
}

header {
    background: linear-gradient(to right, #1a73e8, #4285f4);
    color: black;
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.alert-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1rem;
}

.alert {
    padding: 10px;
    width: 300px;
    height: 200px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    animation: blink 1.5s infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.green {
    background-color: #28a745;
}

.yellow {
    background-color: #ffc107;
}

.red {
    background-color: #dc3545;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.5;
    }
}

/* Responsividade */

/* Tablet */
@media (max-width: 1000px) {
    .alert-container {
        justify-content: center;
        gap: 10px;
    }

    .alert {
        width: 250px;
        height: 180px;
        font-size: 1em;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .alert-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .alert {
        width: 90%;
        height: 150px;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    header {
        font-size: 1.2em;
        padding: 15px;
    }

    nav a {
        margin: 10px 0;
        display: block;
        text-align: center;
    }
}
